.product-title
{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.product-price {
    font-family: Cantarell;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
    text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
}

.product-category
{
    font-family: 'Roboto', sans-serif;
}