.productTitle
{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.product-price {
    font-family: Cantarell;
    font-size: 1rem;
    font-weight: bold;
    color: red;
}

.productCategory
{
    font-family: 'Roboto', sans-serif;
}