.searchLayout
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

.search-product {
    flex: 0 0 calc(20% - 0px);
    background-color: #d9dccc;
    padding: 5px;
    border: solid #a8a5a5;
    border-radius: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.SearchText
{
    color: black;
}

.SearchText:hover
{
    color: white;
}
.search-product:hover
{
    background-color: #242931;
    color: white;
}
.single-product.img:hover
{
    background-color: #242931;
    color: white;
}
.search-product .img {
    background-color: #ffffff;
    max-height: 150px;
    object-fit: contain;
    border: 1px solid rgba(211, 200, 200, 0.5);
    border-radius: var(--borderRadius);
}

.ohNoMessage {
    font-size: 5rem;
    margin: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whisper {
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.backToHomePageLink
{
    font-size: 2rem;
    color: black;
    text-decoration: underline;
    text-align: center;
}
.backToHomePageLink:hover
{
    color: #ffffff;
}
@media (max-width: 768px) {
    .sadCow {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .searchLayout {
        margin: 10px;
        gap: 5px;
    }

    .search-product  {
        flex: 0 0 calc(50% - 5px);
    }
    .ohNoMessage
    {
        font-size: 3rem;

    }
    .backToHomePageLink {
        font-size: 1rem;
    }
}

