.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: 20px;
    gap:10px;
}

.single-product {
    flex: 1 0 calc(30% - 0px);
    background-color: #e6e6ec;
    padding: 5px;
    border: solid #a8a5a5;
    border-radius: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.single-product .img {
    background-color: #ffffff;
    max-height: 150px;
    object-fit: contain;
    border: 1px solid rgba(211, 200, 200, 0.5);
    border-radius: var(--borderRadius);
}

.single-product:hover
{
    background-color: #242931;
    color: white;
}
.single-product.img:hover
{
    background-color: #242931;
    color: white;
}

@media (max-width: 768px) {
    .products {
        margin: 10px;
        gap: 5px;
    }

    .single-product {
        flex: 1 0 calc(50% - 5px);
    }
}
