.paymentforms {
    padding: 10px;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.45);
    border-radius: 5px;
    font-size: 16px;
}

.PayButton {
    background-color: #577557;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
}


.PaymentFormsDisplay {
    border: 5px solid rgba(0, 0, 0, 0.5);
    margin:10px;
    border-radius: 500px;
    background-color: rgba(255, 255, 255, 0.64);
}


@media (max-width: 768px) {
    .loginFormsDisplay
    {
        border-radius: 10px;
    }
    .cartTotalCost
    {
        width: 50%;
    }
}