.pretendSaleFigure {
    color: #ff0000;
    font-weight: bold;
    text-decoration: line-through;
}

.savingsLayout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px;
}

@media (max-width: 768px) {
    .savingsLayout {
        flex: 0 0 calc(50% - 5px);
    }
}