.navBar {
    background-color: #5b4f4f;
    padding: 40px;
    width: 100%;
    border: 1px solid rgba(16, 15, 15, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

.welcomeLogo
{
    font-family: "Cooper Black";
    font-size: 2rem;
    color: white;
}

.logInButton {
    background-color: #577557;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.welcomeText
{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #ffffff;
}