.navBar {
    background-color: #8a8888;
    padding: 40px;
    width: 100%;
    border: 1px solid rgba(16, 15, 15, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}