.footer {
    width: 100%;
    background-color: rgba(47, 101, 56, 0.33);
    padding: 20px;
    border: 5px solid #4d4d4d;
}

.footerContents {
    font-family: "Cooper Black";
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.footerContents p {
    margin: 10px;
    font-size: 1.5rem;
}

.footerContents a {
    color: #333;
    text-decoration: underline;
    margin: 10px;
    transition: color 0.3s ease-in-out;
}

.footerContents a:hover {
    color: #ffffff;
}
